.backbutton{
  display: flex; 
  justify-content: center;
  align-items: top;
  padding: 10px 20px;
  background-color: #ff1cd9; 
  color: white;
  border: none;
  border-radius: 20px; 
  text-decoration: none; 
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease; 
  z-index: 2;


}
.backbutton:hover{ 
    background-color: #c46bff; /* Slightly darker on hover */
    transform: translateY(2px); /* Slight lift effect */
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.picture{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;  
  height: 600px;
  filter: blur(1rem);
}

