.backbutton{
    display: flex; 
    justify-content: center;
    align-items: top;
    padding: 10px 20px;
    background-color: #ff1cd9; 
    color: white;
    border: none;
    border-radius: 20px; 
    text-decoration: none; 
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.3s ease; 
    z-index: 2;
  
  
  }
  .backbutton:hover{ 
      background-color: #c46bff; /* Slightly darker on hover */
      transform: translateY(2px); /* Slight lift effect */
      color: #ffffff;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      z-index: 2;
  }

  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    background-color: #c46bff;
    width: 100px;
    height: 100px;
 
}
.box:hover{
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }