body {
    margin: 0;
    padding: 0;
    left: 0;
    height: 100vh;
    display: block;
  
    background-color: #fcf7f7; /* Fallback color */
    color: white;
    font-family: sans-serif;
    z-index: 1;
}

.gradient {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(red,blue);
    background-size: 400%;
    animation: flow 15s ease-in-out infinite;

}

@keyframes flow{
    0%{ background-position: 0 50%;}
    50%{ background-position: 100% 50%;}
    100%{ background-position: 0 50%;}
}


.backbutton{
  display: flex; 
  justify-content: center;
  align-items: top;
  padding: 10px 20px;
  background-color: #ff1cd9; 
  color: white;
  border: none;
  border-radius: 20px; 
  text-decoration: none; 
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease; 
  z-index: 2;


}
.backbutton:hover{ 
    background-color: #c46bff; /* Slightly darker on hover */
    transform: translateY(2px); /* Slight lift effect */
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

